@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

:root {
    --color-white: #fff;
    --color-light: #d4d4d4;
    --color-dark: #404040;
    --color-black: #262626;

    --color-gray: #64748b;
    --color-gold-light: #fffbeb;
    --color-primary: #0369a1;
}

* {
    font-family: "Nunito", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.text-uppercase {
    text-transform: uppercase;
}

.text-bold {
    font-weight: bold;
}

.text-no-wrap {
    white-space: nowrap;
}

.text-center {
    text-align: center;
}

.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.flex-wrap {
    flex-wrap: wrap;
}
