@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --color-white: hsl(0, 0%, 95%);
    --color-light: hsl(0, 0%, 90%);
    --color-dark: hsl(0, 0%, 35%);
    --color-black: hsl(0, 0%, 20%);

    --color-gray: hsl(0, 0%, 75%);
    --color-gold: hsl(51, 100%, 80%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.flex-wrap {
    flex-wrap: wrap;
}

.text-center {
    text-align: center;
}

.text-bold {
    font-weight: bold;
}

.text-uppercase {
    text-transform: uppercase;
}

.color-gray {
    color: var(--color-gray);
}

.color-gold {
    color: var(--color-gold);
}
