@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --color-white: hsl(0, 0%, 95%);
    --color-light: hsl(0, 0%, 90%);
    --color-dark: hsl(0, 0%, 35%);
    --color-black: hsl(0, 0%, 20%);
    --color-gold: hsl(51, 100%, 80%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
